/*
Base16 {{scheme-name}}
Author: {{scheme-author}}
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #{{base00-hex}};
@define-color fg_color #{{base05-hex}};
@define-color base_color #{{base01-hex}};
@define-color text_color #{{base05-hex}};
@define-color selected_bg_color #{{base02-hex}};
@define-color selected_fg_color #{{base05-hex}};
@define-color tooltip_bg_color #{{base00-hex}};
@define-color tooltip_fg_color #{{base05-hex}};
@define-color color0 #{{base00-hex}};
@define-color color1 #{{base01-hex}};
@define-color color2 #{{base02-hex}};
@define-color color3 #{{base03-hex}};
@define-color color4 #{{base04-hex}};
@define-color color5 #{{base05-hex}};
@define-color color6 #{{base06-hex}};
@define-color color7 #{{base07-hex}};
@define-color color8 #{{base08-hex}};
@define-color color9 #{{base09-hex}};
@define-color color10 #{{base0A-hex}};
@define-color color11 #{{base0B-hex}};
@define-color color12 #{{base0C-hex}};
@define-color color13 #{{base0D-hex}};
@define-color color14 #{{base0E-hex}};
@define-color color15 #{{base0F-hex}};
