/*
Base16 OneDark Dark
Scheme author: olimorris (https://github.com/olimorris)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #000000;
@define-color fg_color #abb2bf;
@define-color base_color #1c1f24;
@define-color text_color #abb2bf;
@define-color text_color_disabled #434852;
@define-color selected_bg_color #2c313a;
@define-color selected_fg_color #abb2bf;
@define-color tooltip_bg_color #000000;
@define-color tooltip_fg_color #abb2bf;
