/*
Base16 Mellow Purple
Author: gidsi
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #1e0528;
@define-color fg_color #ffeeff;
@define-color base_color #1a092d;
@define-color text_color #ffeeff;
@define-color text_color_disabled #320f55;
@define-color selected_bg_color #331354;
@define-color selected_fg_color #ffeeff;
@define-color tooltip_bg_color #1e0528;
@define-color tooltip_fg_color #ffeeff;
