/*
Base16 Equilibrium Light
Author: Carlo Abelli
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #f5f0e7;
@define-color fg_color #43474e;
@define-color base_color #e7e2d9;
@define-color text_color #43474e;
@define-color text_color_disabled #73777f;
@define-color selected_bg_color #d8d4cb;
@define-color selected_fg_color #43474e;
@define-color tooltip_bg_color #f5f0e7;
@define-color tooltip_fg_color #43474e;
