/*
Base16 Yesterday Night
Scheme author: FroZnShiva (https://github.com/FroZnShiva)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #343d46;
@define-color fg_color #dfe1e8;
@define-color base_color #4f5b66;
@define-color text_color #dfe1e8;
@define-color text_color_disabled #a7adba;
@define-color selected_bg_color #65737e;
@define-color selected_fg_color #dfe1e8;
@define-color tooltip_bg_color #343d46;
@define-color tooltip_fg_color #dfe1e8;
