/*
Base16 Shades of Purple
Author: Iolar Demartini Junior (http://github.com/demartini) based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #1e1e3f;
@define-color fg_color #c7c7c7;
@define-color base_color #43d426;
@define-color text_color #c7c7c7;
@define-color text_color_disabled #808080;
@define-color selected_bg_color #f1d000;
@define-color selected_fg_color #c7c7c7;
@define-color tooltip_bg_color #1e1e3f;
@define-color tooltip_fg_color #c7c7c7;
