/*
Base16 Chalk
Author: Chris Kempson (http://chriskempson.com)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #151515;
@define-color fg_color #d0d0d0;
@define-color base_color #202020;
@define-color text_color #d0d0d0;
@define-color text_color_disabled #505050;
@define-color selected_bg_color #303030;
@define-color selected_fg_color #d0d0d0;
@define-color tooltip_bg_color #151515;
@define-color tooltip_fg_color #d0d0d0;
