/*
Base16 Twilight
Author: David Hart (https://github.com/hartbit)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #1e1e1e;
@define-color fg_color #a7a7a7;
@define-color base_color #323537;
@define-color text_color #a7a7a7;
@define-color text_color_disabled #5f5a60;
@define-color selected_bg_color #464b50;
@define-color selected_fg_color #a7a7a7;
@define-color tooltip_bg_color #1e1e1e;
@define-color tooltip_fg_color #a7a7a7;
