/*
Base16 DanQing
Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #2d302f;
@define-color fg_color #e0f0ef;
@define-color base_color #434846;
@define-color text_color #e0f0ef;
@define-color text_color_disabled #9da8a3;
@define-color selected_bg_color #5a605d;
@define-color selected_fg_color #e0f0ef;
@define-color tooltip_bg_color #2d302f;
@define-color tooltip_fg_color #e0f0ef;
