/*
Base16 pinky
Author: Benjamin (https://github.com/b3nj5m1n)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #171517;
@define-color fg_color #f5f5f5;
@define-color base_color #1b181b;
@define-color text_color #f5f5f5;
@define-color text_color_disabled #383338;
@define-color selected_bg_color #1d1b1d;
@define-color selected_fg_color #f5f5f5;
@define-color tooltip_bg_color #171517;
@define-color tooltip_fg_color #f5f5f5;
