/*
Base16 PaperColor Light
Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #eeeeee;
@define-color fg_color #444444;
@define-color base_color #af0000;
@define-color text_color #444444;
@define-color text_color_disabled #5f8700;
@define-color selected_bg_color #008700;
@define-color selected_fg_color #444444;
@define-color tooltip_bg_color #eeeeee;
@define-color tooltip_fg_color #444444;
