/*
Base16 Green Screen
Author: Chris Kempson (http://chriskempson.com)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #001100;
@define-color fg_color #00bb00;
@define-color base_color #003300;
@define-color text_color #00bb00;
@define-color text_color_disabled #007700;
@define-color selected_bg_color #005500;
@define-color selected_fg_color #00bb00;
@define-color tooltip_bg_color #001100;
@define-color tooltip_fg_color #00bb00;
