/*
Base16 Sakura
Author: Misterio77 (http://github.com/Misterio77)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #feedf3;
@define-color fg_color #564448;
@define-color base_color #f8e2e7;
@define-color text_color #564448;
@define-color text_color_disabled #755f64;
@define-color selected_bg_color #e0ccd1;
@define-color selected_fg_color #564448;
@define-color tooltip_bg_color #feedf3;
@define-color tooltip_fg_color #564448;
