/*
Base16 Atelier Savanna Light
Author: Bram de Haan (http://atelierbramdehaan.nl)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #ecf4ee;
@define-color fg_color #526057;
@define-color base_color #dfe7e2;
@define-color text_color #526057;
@define-color text_color_disabled #78877d;
@define-color selected_bg_color #87928a;
@define-color selected_fg_color #526057;
@define-color tooltip_bg_color #ecf4ee;
@define-color tooltip_fg_color #526057;
