/*
Base16 Snazzy
Author: Chawye Hsu (https://github.com/chawyehsu) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #282a36;
@define-color fg_color #e2e4e5;
@define-color base_color #34353e;
@define-color text_color #e2e4e5;
@define-color text_color_disabled #78787e;
@define-color selected_bg_color #43454f;
@define-color selected_fg_color #e2e4e5;
@define-color tooltip_bg_color #282a36;
@define-color tooltip_fg_color #e2e4e5;
