/*
Base16 Atelier Seaside
Author: Bram de Haan (http://atelierbramdehaan.nl)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #131513;
@define-color fg_color #8ca68c;
@define-color base_color #242924;
@define-color text_color #8ca68c;
@define-color text_color_disabled #687d68;
@define-color selected_bg_color #5e6e5e;
@define-color selected_fg_color #8ca68c;
@define-color tooltip_bg_color #131513;
@define-color tooltip_fg_color #8ca68c;
