/*
Base16 Spacemacs
Author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #1f2022;
@define-color fg_color #a3a3a3;
@define-color base_color #282828;
@define-color text_color #a3a3a3;
@define-color text_color_disabled #585858;
@define-color selected_bg_color #444155;
@define-color selected_fg_color #a3a3a3;
@define-color tooltip_bg_color #1f2022;
@define-color tooltip_fg_color #a3a3a3;
