/*
Base16 summercamp
Author: zoe firi (zoefiri.github.io)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #1c1810;
@define-color fg_color #736e55;
@define-color base_color #2a261c;
@define-color text_color #736e55;
@define-color text_color_disabled #504b38;
@define-color selected_bg_color #3a3527;
@define-color selected_fg_color #736e55;
@define-color tooltip_bg_color #1c1810;
@define-color tooltip_fg_color #736e55;
