/*
Base16 Zenburn
Author: elnawe
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #383838;
@define-color fg_color #dcdccc;
@define-color base_color #404040;
@define-color text_color #dcdccc;
@define-color text_color_disabled #6f6f6f;
@define-color selected_bg_color #606060;
@define-color selected_fg_color #dcdccc;
@define-color tooltip_bg_color #383838;
@define-color tooltip_fg_color #dcdccc;
