/*
Base16 Da One Paper
Author: NNB (https://github.com/NNBnh)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #faf0dc;
@define-color fg_color #181818;
@define-color base_color #c8c8c8;
@define-color text_color #181818;
@define-color text_color_disabled #585858;
@define-color selected_bg_color #888888;
@define-color selected_fg_color #181818;
@define-color tooltip_bg_color #faf0dc;
@define-color tooltip_fg_color #181818;
