/*
Base16 iA Light
Author: iA Inc. (modified by aramisgithub)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #f6f6f6;
@define-color fg_color #181818;
@define-color base_color #dedede;
@define-color text_color #181818;
@define-color text_color_disabled #898989;
@define-color selected_bg_color #bde5f2;
@define-color selected_fg_color #181818;
@define-color tooltip_bg_color #f6f6f6;
@define-color tooltip_fg_color #181818;
