/*
Base16 Macintosh
Author: Rebecca Bettencourt (http://www.kreativekorp.com)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #000000;
@define-color fg_color #c0c0c0;
@define-color base_color #404040;
@define-color text_color #c0c0c0;
@define-color text_color_disabled #808080;
@define-color selected_bg_color #404040;
@define-color selected_fg_color #c0c0c0;
@define-color tooltip_bg_color #000000;
@define-color tooltip_fg_color #c0c0c0;
