/*
Base16 Atelier Savanna
Author: Bram de Haan (http://atelierbramdehaan.nl)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #171c19;
@define-color fg_color #87928a;
@define-color base_color #232a25;
@define-color text_color #87928a;
@define-color text_color_disabled #5f6d64;
@define-color selected_bg_color #526057;
@define-color selected_fg_color #87928a;
@define-color tooltip_bg_color #171c19;
@define-color tooltip_fg_color #87928a;
