/*
Base16 Atelier Lakeside
Author: Bram de Haan (http://atelierbramdehaan.nl)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #161b1d;
@define-color fg_color #7ea2b4;
@define-color base_color #1f292e;
@define-color text_color #7ea2b4;
@define-color text_color_disabled #5a7b8c;
@define-color selected_bg_color #516d7b;
@define-color selected_fg_color #7ea2b4;
@define-color tooltip_bg_color #161b1d;
@define-color tooltip_fg_color #7ea2b4;
