/*
Base16 Atelier Plateau Light
Author: Bram de Haan (http://atelierbramdehaan.nl)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #f4ecec;
@define-color fg_color #585050;
@define-color base_color #e7dfdf;
@define-color text_color #585050;
@define-color text_color_disabled #7e7777;
@define-color selected_bg_color #8a8585;
@define-color selected_fg_color #585050;
@define-color tooltip_bg_color #f4ecec;
@define-color tooltip_fg_color #585050;
