/*
Base16 Marrakesh
Author: Alexandre Gavioli (http://github.com/Alexx2/)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #201602;
@define-color fg_color #948e48;
@define-color base_color #302e00;
@define-color text_color #948e48;
@define-color text_color_disabled #6c6823;
@define-color selected_bg_color #5f5b17;
@define-color selected_fg_color #948e48;
@define-color tooltip_bg_color #201602;
@define-color tooltip_fg_color #948e48;
