/*
Base16 eris
Scheme author: ed (https://codeberg.org/ed), Tinted Theming (https://github.com/tinted-theming)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #0a0920;
@define-color fg_color #606bac;
@define-color base_color #13133a;
@define-color text_color #606bac;
@define-color text_color_disabled #333773;
@define-color selected_bg_color #23255a;
@define-color selected_fg_color #606bac;
@define-color tooltip_bg_color #0a0920;
@define-color tooltip_fg_color #606bac;
