/*
Base16 PaperColor Dark
Scheme author: Jon Leopard (http://github.com/jonleopard), Tinted Theming (https://github.com/tinted-theming), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #1c1c1c;
@define-color fg_color #9e9e9e;
@define-color base_color #363636;
@define-color text_color #9e9e9e;
@define-color text_color_disabled #585858;
@define-color selected_bg_color #424242;
@define-color selected_fg_color #9e9e9e;
@define-color tooltip_bg_color #1c1c1c;
@define-color tooltip_fg_color #9e9e9e;
