/*
Base16 Hopscotch
Author: Jan T. Sott
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #322931;
@define-color fg_color #b9b5b8;
@define-color base_color #433b42;
@define-color text_color #b9b5b8;
@define-color text_color_disabled #797379;
@define-color selected_bg_color #5c545b;
@define-color selected_fg_color #b9b5b8;
@define-color tooltip_bg_color #322931;
@define-color tooltip_fg_color #b9b5b8;
