/*
Base16 Dark Violet
Author: ruler501 (https://github.com/ruler501/base16-darkviolet)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #000000;
@define-color fg_color #b08ae6;
@define-color base_color #231a40;
@define-color text_color #b08ae6;
@define-color text_color_disabled #593380;
@define-color selected_bg_color #432d59;
@define-color selected_fg_color #b08ae6;
@define-color tooltip_bg_color #000000;
@define-color tooltip_fg_color #b08ae6;
