/*
Base16 Solar Flare
Author: Chuck Harmston (https://chuck.harmston.ch)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #18262f;
@define-color fg_color #a6afb8;
@define-color base_color #222e38;
@define-color text_color #a6afb8;
@define-color text_color_disabled #667581;
@define-color selected_bg_color #586875;
@define-color selected_fg_color #a6afb8;
@define-color tooltip_bg_color #18262f;
@define-color tooltip_fg_color #a6afb8;
