/*
Base16 Atelier Sulphurpool
Author: Bram de Haan (http://atelierbramdehaan.nl)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #202746;
@define-color fg_color #979db4;
@define-color base_color #293256;
@define-color text_color #979db4;
@define-color text_color_disabled #6b7394;
@define-color selected_bg_color #5e6687;
@define-color selected_fg_color #979db4;
@define-color tooltip_bg_color #202746;
@define-color tooltip_fg_color #979db4;
