/*
Base16 Pico
Author: PICO-8 (http://www.lexaloffle.com/pico-8.php)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #000000;
@define-color fg_color #5f574f;
@define-color base_color #1d2b53;
@define-color text_color #5f574f;
@define-color text_color_disabled #008751;
@define-color selected_bg_color #7e2553;
@define-color selected_fg_color #5f574f;
@define-color tooltip_bg_color #000000;
@define-color tooltip_fg_color #5f574f;
