/*
Base16 Catppuccin Macchiato
Scheme author: https://github.com/catppuccin/catppuccin
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #24273a;
@define-color fg_color #cad3f5;
@define-color base_color #363a4f;
@define-color text_color #cad3f5;
@define-color text_color_disabled #6e738d;
@define-color selected_bg_color #494d64;
@define-color selected_fg_color #cad3f5;
@define-color tooltip_bg_color #24273a;
@define-color tooltip_fg_color #cad3f5;
