/*
Base16 Charcoal Dark
Scheme author: Mubin Muhammad (https://github.com/mubin6th)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #0f0b05;
@define-color fg_color #c3a983;
@define-color base_color #231b0e;
@define-color text_color #c3a983;
@define-color text_color_disabled #57462c;
@define-color selected_bg_color #2a2012;
@define-color selected_fg_color #c3a983;
@define-color tooltip_bg_color #0f0b05;
@define-color tooltip_fg_color #c3a983;
