/*
Base16 Katy
Author: George Essig (https://github.com/gessig)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #292d3e;
@define-color fg_color #959dcb;
@define-color base_color #444267;
@define-color text_color #959dcb;
@define-color text_color_disabled #676e95;
@define-color selected_bg_color #5c598b;
@define-color selected_fg_color #959dcb;
@define-color tooltip_bg_color #292d3e;
@define-color tooltip_fg_color #959dcb;
