/*
Base16 pandora
Author: Cassandra Fox
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #131213;
@define-color fg_color #f15c99;
@define-color base_color #2f1823;
@define-color text_color #f15c99;
@define-color text_color_disabled #ffbee3;
@define-color selected_bg_color #472234;
@define-color selected_fg_color #f15c99;
@define-color tooltip_bg_color #131213;
@define-color tooltip_fg_color #f15c99;
