/*
Base16 Unikitty Dark
Author: Josh W Lewis (@joshwlewis)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #2e2a31;
@define-color fg_color #bcbabe;
@define-color base_color #4a464d;
@define-color text_color #bcbabe;
@define-color text_color_disabled #838085;
@define-color selected_bg_color #666369;
@define-color selected_fg_color #bcbabe;
@define-color tooltip_bg_color #2e2a31;
@define-color tooltip_fg_color #bcbabe;
