/*
Base16 Cupcake
Author: Chris Kempson (http://chriskempson.com)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #fbf1f2;
@define-color fg_color #8b8198;
@define-color base_color #f2f1f4;
@define-color text_color #8b8198;
@define-color text_color_disabled #bfb9c6;
@define-color selected_bg_color #d8d5dd;
@define-color selected_fg_color #8b8198;
@define-color tooltip_bg_color #fbf1f2;
@define-color tooltip_fg_color #8b8198;
