/*
Base16 Stella
Author: Shrimpram
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #2b213c;
@define-color fg_color #998bad;
@define-color base_color #362b48;
@define-color text_color #998bad;
@define-color text_color_disabled #655978;
@define-color selected_bg_color #4d4160;
@define-color selected_fg_color #998bad;
@define-color tooltip_bg_color #2b213c;
@define-color tooltip_fg_color #998bad;
