/*
Base16 Helios
Author: Alex Meyer (https://github.com/reyemxela)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #1d2021;
@define-color fg_color #d5d5d5;
@define-color base_color #383c3e;
@define-color text_color #d5d5d5;
@define-color text_color_disabled #6f7579;
@define-color selected_bg_color #53585b;
@define-color selected_fg_color #d5d5d5;
@define-color tooltip_bg_color #1d2021;
@define-color tooltip_fg_color #d5d5d5;
