/*
Base16 PaperColor Dark
Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #1c1c1c;
@define-color fg_color #808080;
@define-color base_color #af005f;
@define-color text_color #808080;
@define-color text_color_disabled #d7af5f;
@define-color selected_bg_color #5faf00;
@define-color selected_fg_color #808080;
@define-color tooltip_bg_color #1c1c1c;
@define-color tooltip_fg_color #808080;
