/*
Base16 Still Alive
Scheme author: Derrick McKee (derrick.mckee@gmail.com), Tinted Theming (https://github.com/tinted-theming)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #f0f0f0;
@define-color fg_color #4c383b;
@define-color base_color #d6d6d6;
@define-color text_color #4c383b;
@define-color text_color_disabled #a3a3a3;
@define-color selected_bg_color #bdbdbd;
@define-color selected_fg_color #4c383b;
@define-color tooltip_bg_color #f0f0f0;
@define-color tooltip_fg_color #4c383b;
