/*
Base16 Everforest Dark Hard
Scheme author: Oskar Liew (https://github.com/OskarLiew)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #272e33;
@define-color fg_color #d3c6aa;
@define-color base_color #2e383c;
@define-color text_color #d3c6aa;
@define-color text_color_disabled #859289;
@define-color selected_bg_color #414b50;
@define-color selected_fg_color #d3c6aa;
@define-color tooltip_bg_color #272e33;
@define-color tooltip_fg_color #d3c6aa;
