/*
Base16 Flexoki Light
Scheme author: Steph Ango (https://github.com/kepano/flexoki)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #fffcf0;
@define-color fg_color #403e3c;
@define-color base_color #f2f0e5;
@define-color text_color #403e3c;
@define-color text_color_disabled #cecdc3;
@define-color selected_bg_color #e6e4d9;
@define-color selected_fg_color #403e3c;
@define-color tooltip_bg_color #fffcf0;
@define-color tooltip_fg_color #403e3c;
