/*
Base16 Equilibrium Gray Dark
Author: Carlo Abelli
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #111111;
@define-color fg_color #ababab;
@define-color base_color #1b1b1b;
@define-color text_color #ababab;
@define-color text_color_disabled #777777;
@define-color selected_bg_color #262626;
@define-color selected_fg_color #ababab;
@define-color tooltip_bg_color #111111;
@define-color tooltip_fg_color #ababab;
