/*
Base16 Atelier Seaside Light
Author: Bram de Haan (http://atelierbramdehaan.nl)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #f4fbf4;
@define-color fg_color #5e6e5e;
@define-color base_color #cfe8cf;
@define-color text_color #5e6e5e;
@define-color text_color_disabled #809980;
@define-color selected_bg_color #8ca68c;
@define-color selected_fg_color #5e6e5e;
@define-color tooltip_bg_color #f4fbf4;
@define-color tooltip_fg_color #5e6e5e;
