/*
Base16 One Light
Author: Daniel Pfeifer (http://github.com/purpleKarrot)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #fafafa;
@define-color fg_color #383a42;
@define-color base_color #f0f0f1;
@define-color text_color #383a42;
@define-color text_color_disabled #a0a1a7;
@define-color selected_bg_color #e5e5e6;
@define-color selected_fg_color #383a42;
@define-color tooltip_bg_color #fafafa;
@define-color tooltip_fg_color #383a42;
