/*
Base16 Eldritch
Scheme author: https://github.com/eldritch-theme
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #212337;
@define-color fg_color #ebfafa;
@define-color base_color #323449;
@define-color text_color #ebfafa;
@define-color text_color_disabled #7081d0;
@define-color selected_bg_color #3b4261;
@define-color selected_fg_color #ebfafa;
@define-color tooltip_bg_color #212337;
@define-color tooltip_fg_color #ebfafa;
