/*
Base16 Shapeshifter
Author: Tyler Benziger (http://tybenz.com)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #f9f9f9;
@define-color fg_color #102015;
@define-color base_color #e0e0e0;
@define-color text_color #102015;
@define-color text_color_disabled #555555;
@define-color selected_bg_color #ababab;
@define-color selected_fg_color #102015;
@define-color tooltip_bg_color #f9f9f9;
@define-color tooltip_fg_color #102015;
