/*
Base16 Windows High Contrast Light
Author: Fergus Collins (https://github.com/C-Fergus)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #fcfcfc;
@define-color fg_color #545454;
@define-color base_color #e8e8e8;
@define-color text_color #545454;
@define-color text_color_disabled #c0c0c0;
@define-color selected_bg_color #d4d4d4;
@define-color selected_fg_color #545454;
@define-color tooltip_bg_color #fcfcfc;
@define-color tooltip_fg_color #545454;
