/*
Base16 Atelier Dune Light
Author: Bram de Haan (http://atelierbramdehaan.nl)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #fefbec;
@define-color fg_color #6e6b5e;
@define-color base_color #e8e4cf;
@define-color text_color #6e6b5e;
@define-color text_color_disabled #999580;
@define-color selected_bg_color #a6a28c;
@define-color selected_fg_color #6e6b5e;
@define-color tooltip_bg_color #fefbec;
@define-color tooltip_fg_color #6e6b5e;
