/*
Base16 Solarized Dark
Author: Ethan Schoonover (modified by aramisgithub)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #002b36;
@define-color fg_color #93a1a1;
@define-color base_color #073642;
@define-color text_color #93a1a1;
@define-color text_color_disabled #657b83;
@define-color selected_bg_color #586e75;
@define-color selected_fg_color #93a1a1;
@define-color tooltip_bg_color #002b36;
@define-color tooltip_fg_color #93a1a1;
