/*
Base16 Edge Dark
Author: cjayross (https://github.com/cjayross)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #262729;
@define-color fg_color #b7bec9;
@define-color base_color #88909f;
@define-color text_color #b7bec9;
@define-color text_color_disabled #3e4249;
@define-color selected_bg_color #b7bec9;
@define-color selected_fg_color #b7bec9;
@define-color tooltip_bg_color #262729;
@define-color tooltip_fg_color #b7bec9;
