/*
Base16 London Tube
Author: Jan T. Sott
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #231f20;
@define-color fg_color #d9d8d8;
@define-color base_color #1c3f95;
@define-color text_color #d9d8d8;
@define-color text_color_disabled #737171;
@define-color selected_bg_color #5a5758;
@define-color selected_fg_color #d9d8d8;
@define-color tooltip_bg_color #231f20;
@define-color tooltip_fg_color #d9d8d8;
