/*
Base16 PaperColor Light
Scheme author: Jon Leopard (http://github.com/jonleopard), Tinted Theming (https://github.com/tinted-theming), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #eeeeee;
@define-color fg_color #5e5e5e;
@define-color base_color #c4c4c4;
@define-color text_color #5e5e5e;
@define-color text_color_disabled #858585;
@define-color selected_bg_color #9e9e9e;
@define-color selected_fg_color #5e5e5e;
@define-color tooltip_bg_color #eeeeee;
@define-color tooltip_fg_color #5e5e5e;
