/*
Base16 Oxocarbon Dark
Scheme author: shaunsingh/IBM, Tinted Theming (https://github.com/tinted-theming)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #161616;
@define-color fg_color #f2f4f8;
@define-color base_color #262626;
@define-color text_color #f2f4f8;
@define-color text_color_disabled #525252;
@define-color selected_bg_color #393939;
@define-color selected_fg_color #f2f4f8;
@define-color tooltip_bg_color #161616;
@define-color tooltip_fg_color #f2f4f8;
