/*
Base16 Nova
Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #3c4c55;
@define-color fg_color #c5d4dd;
@define-color base_color #556873;
@define-color text_color #c5d4dd;
@define-color text_color_disabled #899ba6;
@define-color selected_bg_color #6a7d89;
@define-color selected_fg_color #c5d4dd;
@define-color tooltip_bg_color #3c4c55;
@define-color tooltip_fg_color #c5d4dd;
