/*
Base16 Atelier Plateau
Author: Bram de Haan (http://atelierbramdehaan.nl)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #1b1818;
@define-color fg_color #8a8585;
@define-color base_color #292424;
@define-color text_color #8a8585;
@define-color text_color_disabled #655d5d;
@define-color selected_bg_color #585050;
@define-color selected_fg_color #8a8585;
@define-color tooltip_bg_color #1b1818;
@define-color tooltip_fg_color #8a8585;
