/*
Base16 Flexoki Dark
Scheme author: Steph Ango (https://github.com/kepano/flexoki)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #100f0f;
@define-color fg_color #cecdc3;
@define-color base_color #1c1b1a;
@define-color text_color #cecdc3;
@define-color text_color_disabled #575653;
@define-color selected_bg_color #282726;
@define-color selected_fg_color #cecdc3;
@define-color tooltip_bg_color #100f0f;
@define-color tooltip_fg_color #cecdc3;
