/*
Base16 Silk Light
Author: Gabriel Fontes (https://github.com/Misterio77)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #e9f1ef;
@define-color fg_color #385156;
@define-color base_color #ccd4d3;
@define-color text_color #385156;
@define-color text_color_disabled #5c787b;
@define-color selected_bg_color #90b7b6;
@define-color selected_fg_color #385156;
@define-color tooltip_bg_color #e9f1ef;
@define-color tooltip_fg_color #385156;
