/*
Base16 Material Vivid
Author: joshyrobot
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #202124;
@define-color fg_color #80868b;
@define-color base_color #27292c;
@define-color text_color #80868b;
@define-color text_color_disabled #44464d;
@define-color selected_bg_color #323639;
@define-color selected_fg_color #80868b;
@define-color tooltip_bg_color #202124;
@define-color tooltip_fg_color #80868b;
