/*
Base16 3024
Author: Jan T. Sott (http://github.com/idleberg)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #090300;
@define-color fg_color #a5a2a2;
@define-color base_color #3a3432;
@define-color text_color #a5a2a2;
@define-color text_color_disabled #5c5855;
@define-color selected_bg_color #4a4543;
@define-color selected_fg_color #a5a2a2;
@define-color tooltip_bg_color #090300;
@define-color tooltip_fg_color #a5a2a2;
