/*
Base16 Material Lighter
Author: Nate Peterson
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #fafafa;
@define-color fg_color #80cbc4;
@define-color base_color #e7eaec;
@define-color text_color #80cbc4;
@define-color text_color_disabled #ccd7da;
@define-color selected_bg_color #cceae7;
@define-color selected_fg_color #80cbc4;
@define-color tooltip_bg_color #fafafa;
@define-color tooltip_fg_color #80cbc4;
