/*
Base16 Humanoid dark
Author: Thomas (tasmo) Friese
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #232629;
@define-color fg_color #f8f8f2;
@define-color base_color #333b3d;
@define-color text_color #f8f8f2;
@define-color text_color_disabled #60615d;
@define-color selected_bg_color #484e54;
@define-color selected_fg_color #f8f8f2;
@define-color tooltip_bg_color #232629;
@define-color tooltip_fg_color #f8f8f2;
