/*
Base16 Gruvbox light, medium
Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #fbf1c7;
@define-color fg_color #504945;
@define-color base_color #ebdbb2;
@define-color text_color #504945;
@define-color text_color_disabled #bdae93;
@define-color selected_bg_color #d5c4a1;
@define-color selected_fg_color #504945;
@define-color tooltip_bg_color #fbf1c7;
@define-color tooltip_fg_color #504945;
