/*
Base16 Porple
Author: Niek den Breeje (https://github.com/AuditeMarlow)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #292c36;
@define-color fg_color #d8d8d8;
@define-color base_color #333344;
@define-color text_color #d8d8d8;
@define-color text_color_disabled #65568a;
@define-color selected_bg_color #474160;
@define-color selected_fg_color #d8d8d8;
@define-color tooltip_bg_color #292c36;
@define-color tooltip_fg_color #d8d8d8;
