/*
Base16 Paraiso
Author: Jan T. Sott
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #2f1e2e;
@define-color fg_color #a39e9b;
@define-color base_color #41323f;
@define-color text_color #a39e9b;
@define-color text_color_disabled #776e71;
@define-color selected_bg_color #4f424c;
@define-color selected_fg_color #a39e9b;
@define-color tooltip_bg_color #2f1e2e;
@define-color tooltip_fg_color #a39e9b;
