/*
Base16 Default Light
Author: Chris Kempson (http://chriskempson.com)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #f8f8f8;
@define-color fg_color #383838;
@define-color base_color #e8e8e8;
@define-color text_color #383838;
@define-color text_color_disabled #b8b8b8;
@define-color selected_bg_color #d8d8d8;
@define-color selected_fg_color #383838;
@define-color tooltip_bg_color #f8f8f8;
@define-color tooltip_fg_color #383838;
