/*
Base16 Kanagawa Dragon
Scheme author: Stefan Weigl-Bosker (https://github.com/sweiglbosker), Tommaso Laurenzi (https://github.com/rebelot/kanagawa.nvim)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #181616;
@define-color fg_color #c5c9c5;
@define-color base_color #282727;
@define-color text_color #c5c9c5;
@define-color text_color_disabled #625e5a;
@define-color selected_bg_color #393836;
@define-color selected_fg_color #c5c9c5;
@define-color tooltip_bg_color #181616;
@define-color tooltip_fg_color #c5c9c5;
