/*
Base16 Rebecca
Author: Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #292a44;
@define-color fg_color #f1eff8;
@define-color base_color #663399;
@define-color text_color #f1eff8;
@define-color text_color_disabled #666699;
@define-color selected_bg_color #383a62;
@define-color selected_fg_color #f1eff8;
@define-color tooltip_bg_color #292a44;
@define-color tooltip_fg_color #f1eff8;
