/*
Base16 Solarized Light
Author: Ethan Schoonover (modified by aramisgithub)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #fdf6e3;
@define-color fg_color #586e75;
@define-color base_color #eee8d5;
@define-color text_color #586e75;
@define-color text_color_disabled #839496;
@define-color selected_bg_color #93a1a1;
@define-color selected_fg_color #586e75;
@define-color tooltip_bg_color #fdf6e3;
@define-color tooltip_fg_color #586e75;
