/*
Base16 Windows 95 Light
Author: Fergus Collins (https://github.com/C-Fergus)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #fcfcfc;
@define-color fg_color #545454;
@define-color base_color #e0e0e0;
@define-color text_color #545454;
@define-color text_color_disabled #a8a8a8;
@define-color selected_bg_color #c4c4c4;
@define-color selected_fg_color #545454;
@define-color tooltip_bg_color #fcfcfc;
@define-color tooltip_fg_color #545454;
