/*
Base16 Fruit Soda
Author: jozip
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #f1ecf1;
@define-color fg_color #515151;
@define-color base_color #e0dee0;
@define-color text_color #515151;
@define-color text_color_disabled #b5b4b6;
@define-color selected_bg_color #d8d5d5;
@define-color selected_fg_color #515151;
@define-color tooltip_bg_color #f1ecf1;
@define-color tooltip_fg_color #515151;
