/*
Base16 Grayscale Dark
Author: Alexandre Gavioli (https://github.com/Alexx2/)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #101010;
@define-color fg_color #b9b9b9;
@define-color base_color #252525;
@define-color text_color #b9b9b9;
@define-color text_color_disabled #525252;
@define-color selected_bg_color #464646;
@define-color selected_fg_color #b9b9b9;
@define-color tooltip_bg_color #101010;
@define-color tooltip_fg_color #b9b9b9;
