/*
Base16 Edge Dark
Scheme author: cjayross (https://github.com/cjayross), Tinted Theming (https://github.com/tinted-theming)
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #262729;
@define-color fg_color #afb2b5;
@define-color base_color #313235;
@define-color text_color #afb2b5;
@define-color text_color_disabled #4a4c4f;
@define-color selected_bg_color #3d3f42;
@define-color selected_fg_color #afb2b5;
@define-color tooltip_bg_color #262729;
@define-color tooltip_fg_color #afb2b5;
